{% extends 'base.html' %}

{% block title %}Quix{% endblock %}

{% block content %}
<div class=" border-3 shadow-lg rounded-3 p-5 w-100 bg-dark mt-3 position-relative">
	<div class="row">
		<div class="col-lg text-light ">
			
			<p>
				{{ qs }}
			</p>
			<span class="badge bg-info share text-dark">Tweet</span>
		</div>

		<div class="col">
			<form method="POST" class=" d-flex flex-column">
				{% for option in ans %}
				<input type="submit"  value="{{ option }}" name="a" class='btn btn-info mb-3'>
				{% endfor %}
			</form>

		</div>
	</div>
</div>

{% endblock %}