{% extends 'base.html' %} {% block title %}Quix{% endblock %} {% block content
%}

<div
  class="container border-3 bg-dark text-white shadow rounded-card w-100 mt-3"
>
  <div class="row text-center">
    <div class="col p-3">
      <p class="display-4 text-success">PASSED</p>
      <p class="display-5">{{score}}</p>
    </div>

    <div class="col p-3">
      <p class="display-4 text-danger">FAILED</p>
      <p class="display-5">{{failed}}</p>
    </div>
  </div>
</div>
<div class="mt-3">
  <input
    onclick="toggle_corrections()"
    class="btn btn-info mb-2"
    type="submit"
    value="toggle answers"
  />
  <form method="POST">
    <input class="btn btn-info" type="submit" value="Play Again" />

    <input class="btn btn-danger" type="submit" name="quit" value="Quit" />
  </form>
</div>

<div class="container mb-3" id="correction_div">
  {% for qs in questions %}
  <div class="border-3 shadow rounded-card p-5 w-100 bg-dark mt-3">
    <div class="row">
      <div class="col-lg text-light">
        <p>{{ qs.question }}</p>
      </div>

      <div class="col">
        <div class="d-flex flex-column" id="answers">
          {% for option in qs.options %} {% if option != "" %} {% if
          option.lower() == qs.correct_answer.lower() %}
          <input
            type="submit"
            value="{{ option }}"
            name="a"
            class="btn btn-success mb-3 rounded-card"
          />

          {% elif option == qs.picked_answer and qs.correct_answer !=
          qs.picked_answer%}

          <input
            type="submit"
            value="{{ option }}"
            name="a"
            class="btn btn-danger mb-3 rounded-card"
          />

          {% else %}
          <input
            type="submit"
            value="{{ option }}"
            name="a"
            class="btn btn-info mb-3 rounded-card"
          />

          {% endif %} {% endif %} {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script type="text/javascript">
  function toggle_corrections() {
    // body..

    let correction_div = document.getElementById("correction_div");

    if (correction_div.style.display == "block") {
      correction_div.style.display = "none";
    } else {
      correction_div.style.display = "block";
    }
  }
  let correction_div = document.getElementById("correction_div");
  correction_div.style.display = "none";
</script>
{% endblock %}
