{% extends 'base.html' %}

{% block title %}Quix{% endblock %}

{% block content %}
<div class="container d-flex flex-column shadow-lg rounded-3 w-100 p-3 mt-5 bg-body">
	<img class="mx-auto" src="{{url_for('static', filename='assets/med.jpg')}}" width="50%" height="50%"/>
	<form method="POST">
		<input type="input" name="namefield" placeholder="Enter a username" class="form-control mb-3" required="true">
		<input type="submit" value="Play ▶" class="btn btn-info w-100 ">
	</form>
</div>

{% endblock %}