{% extends 'base.html' %}

{% block title %}Quix{% endblock %}

{% block nav %}

	<li class="nav-item">
		<a href="{{url_for('main.dashboard')}}" class="nav-link btn bg-light text-danger">Quit</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link">
			<i class="bg-light p-2 rounded-2">{{username}}</i>
		</a>
	</li>
				
{% endblock nav%}

{% block content %}
<div class="d-flex flex-column mb-3"> 
<div class=" border-3 shadow-lg rounded-card p-5 w-100 bg-body my-3 position-relative">
	<div class="row">
		<div class="col-lg text-light ">
			<span class="badge p-2 share text-dark ">
				<a class="text-decoration-none text-dark " target="_" href="https://twitter.com/intent/tweet?text={{qs}}"> Tweet</a>
			</span>
			<p id="question" class="my-0 py-2 mx-0 text-dark">
				{{ qs }}
			</p>
		</div>

		<div class="col">
			<div  class=" d-flex flex-column" id="button_area">
				{% for option in ans %}
				    
					{% if option != ""%}
				<input type="submit" onclick="submit_question('{{ option }}')" value="{{ option }}" name="a" class='btn btn-info mb-3 rounded-card'>
					{% endif %}
				{% endfor %}
			</div>

		</div>
	</div>

</div>


<div class="container shadow-lg bg-light m-auto position-relative rounded-card px-3 d-flex justify-content-between" style="width: 40%;padding-top: 12px;">
	<p class="display-6 text-success" id="answered">{{ansd_len}}</p>
	<p class="display-6 text-danger" id="total_question">{{q_len}}</p>
</div>

</div>
<script type="text/javascript" src="{{url_for('static', filename='js/handler.js')}}">
	
</script>
{% endblock %}
